.page {
    background-color: var(--main-bg-dark);
    color: var(--text-color-dark);
    background-image: var(--background-image-dark);
}

.header__title, .footer__title {
    text-shadow: 4px 4px 0 var(--accent-color-dark);
}

.decorative__element {
    display: block;
}
