/* Сброс стилей */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li, a, button {
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

ul {
    list-style: none;
}

img, video, iframe {
    max-width: 100%;
    display: block;
    height: auto;
}

body {
    overflow-x: hidden; /* убираем горизонтальную прокрутку */
}
