.theme-light .page {
    background-color: var(--main-bg-light);
    color: var(--text-color-light);
    background-image: var(--background-image-light);
}

.theme-light .header__title,
.theme-light .footer__title {
    text-shadow: 4px 4px 0 var(--accent-color-light);
}

.theme-light .decorative__element {
    display: none;
}
