:root {
    --main-bg-dark: #0d0d0d;
    --text-color-dark: #ffffff;
    --accent-color-dark: #ff0070;
    --background-image-dark: url('../images/cover-image-dark.png');
    --main-bg-light: #ffffff;
    --text-color-light: #0d0d0d;
    --accent-color-light: #ff8dcb;
    --background-image-light: url('../images/cover-image-light.png');
    --font: 'IBM Plex Mono', monospace;
}
